@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 231, 231, 231;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: black;
  background: rgb(var(--background-rgb));
  font-family: 'Montserrat';
  margin-inline : 48px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
